/*背景の余白を消す*/
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #050a1b;
}

/*画面の調整*/
.login-container {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #050a1b;
  overflow: hidden;
  color: #fff;
  font-family: 'serif';
}

/*背景で光ってる星の見た目*/
.twinkle-star{
  position: absolute;
  background-color: white;
  border-radius: 50%;
  opacity: 0;/*最初は透明にする*/
  animation: twinkle linear infinite;/*アニメーション実行*/
}

/*星の背景全体のレイヤー（星を重ねるためのもの）*/
.login-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;/*フォームより後ろに置く*/
}

/*タイトル*/
.login-title {
  font-size: 1.5rem;
  margin-bottom: 40px;
  font-weight: 600;
  letter-spacing: 8px;
  z-index: 1;
  transition: all 0.5s ease;
}

/*中身を中央に寄せる*/
.node-wrapper {
  display: flex;
  align-items: flex-start;
  position: relative;
  width: 100%;
}

/*フォーム背景*/
.node-box {
  flex: 1;
  background-color: rgba(255,255,255,0.02);
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 12px;
  padding: 30px;
  backdrop-filter: blur(10px);
  width: 100%; 
}

/*画面のサイズ*/
.form-area {
  position: relative;
  width: 100%;
  max-width: 380px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

/*切り替えタブのグループ*/
.tab-group {
  display: flex;
  margin-bottom: 20px;
  gap: 10px;
}

/*タブボタンのデザイン*/
.tab-btn {
  flex: 1;
  padding: 10px;
  background: none;
  border: none;
  border-bottom: 2px solid rgba(255,255,255,0.1);
  color: #777;
  cursor: pointer;
  font-size: 0.8rem;
  letter-spacing: 2px;
  transition: all 0.3s ease;
}

/*ラベル名*/
.input-label {
  display: block;
  font-size: 0.7rem;
  color: #777;
  margin-bottom: 5px;
}

/*テキストを打つ部分の下線*/
.input-glow {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  padding: 8px 0;
  color: #fff;
  outline: none;
  transition: border 0.3s ease;
}

/*接続線*/
.connect-line {
  position: absolute;
  width: 2px;
  height: 50px;
  left: 6px;
  top: 40px;
  opacity: 0.4;
  transition: all 0.5s ease;
}

/*ボタンのデザイン*/
.submit-btn {
  width: 100%;
  padding: 14px;
  border-radius: 30px;
  border: 1px solid;
  background-color: rgba(255,255,255,0.03);
  cursor: pointer;
  letter-spacing: 4px;
  transition: all 0.3s ease;
  font-family: 'serif';
}