/*背景*/
.backgroundStyle{
  display: flex;
  min-width: 320px;
  min-height: 100vh;

  background-image: url('/image/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*背景で光ってる星の見た目*/
.twinkle-star {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  opacity: 0;/*最初は透明にする*/
  animation: twinkle linear infinite;/*アニメーション実行*/
}

/*星が光るアニメーション*/
@keyframes twinkle {
  0% {
    transform: scale(0);
    opacity: 0;/*透明*/
  }
  50% {
    transform: scale(1);
    opacity: 1;/*一番明るい*/
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

/*星の背景全体のレイヤー（星を重ねるためのもの）*/
.login-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;/*白い背景よりも後ろに置く*/
}

/*白い背景*/
.cardStyle {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 40px;
  border-radius: 24px;
  backdrop-filter: blur(10px);
  width: 400px;
}

/*ロゴ*/
.login-logo {
  display: block;
  margin: -20px auto -20px auto;
  
  max-width: 160px;
  width: 100%;
  height: auto;
}

/*タブを横に並べる設定*/
.tab-group {
  display: flex;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

/*タブのデザイン*/
.tab-button {
  flex: 1;
  padding: 12px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.0em;
  font-weight: bold;
  transition: all 0.3s;
  color: #333;
}

/*入力ボックスとタイトルのグループ*/
.input-group {
  margin-bottom: 15px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/*入力ボックスのタイトル*/
.label-style {
  font-size: 1em;
  font-weight: bold;
  color: #555;
}

/*実際の入力ボックス*/
.input-field {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1em;
  box-sizing: border-box;
  outline: none;
}

/*入力ボックスを選択したときの周りの色*/
.input-field:focus {
  border-color: #007bff;
}

/*登録完了ボタン*/
.buttonStyle{
  background-color: #5cb85c;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-top: 15px;
}