.containerStyle{
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background-color: rgba(255, 255, 255, 0.7);
}

.inputStyle{
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.buttonStyle{
  background-color: #5cb85c;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.backgroundStyle{
  display: flex;
  place-items: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;

  /*背景*/
  background-image: url('/image/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.login-logo {
  display: block;
  margin: 0 auto 20px;
  
  max-width: 120px;
  width: 100%;
  height: auto;
}